:root {
  --secondary: #D1AD63;
  --terciary: #AFAFAF;
}

@font-face {
  font-family: 'BankGothic';
  src: url('../src/assets/fonts/BankGothic-Md-BT.ttf') format('truetype');
}

.secondary {
  color: var(--secondary);
}

strong span {
  font-family: 'BankGothic', sans-serif;
  color: var(--secondary);
  font-size: 2rem;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--green-500);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
textarea,
button {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #18181B;
}

::-webkit-scrollbar-thumb {
  background-color: #27272A;
  border-radius: 10px;
}